@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --branco-fit: #fff;
    --preto-fit: #0E0E17;
    --azul-fit: #007BFF;
}


/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
    height: 12px; /* Altura da barra de rolagem horizontal */
}

/* Estilo do "track" (o trilho onde a barra de rolagem se move) */
::-webkit-scrollbar-track {
    background: #0E0E17; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #f20577; 
    border-radius: 10px; 
    border: 3px solid #0E0E17;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b81162;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: var(--preto-fit);
    font-family: "IBM Plex Sans", sans-serif;
}

.cartao {
    margin-top: 20px;
}

h1#centro, p {
    color: var(--branco-fit);
    text-align: center;
}

img {    
    max-width: 150px;
    height: auto;
    margin-bottom: 1rem !important;
    margin-top: 3rem !important;
}

.img-footer {
    max-width: 135px;
    height: auto;
    margin-top: 0rem !important;
}

.countdown {
    flex-wrap: wrap;
    color: var(--branco-fit);
    font-size: 24px;
    gap: 10px;
    margin-top: 10px;
}

.time {
    width: 150px;
    text-align: center;
    border: 2px solid var(--branco-fit);
    padding: 10px;
    border-radius: 5px;
}

.eventoAnterior {
	display: flex;
    justify-content: center;
    align-items: center;
}

footer {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	text-align: center;
	padding-top: 3rem;
}

footer nav {
	text-align: center;
	padding-bottom: 1.5rem;
}

footer nav i {
    color: var(--branco-fit);
	font-size: 20px;
}

footer nav a {
	color: inherit;
}


@media (max-width: 750px) {
    .countdown {
        font-size: 18px;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .time {
        width: 70px;
        padding: 8px;
    }

    img {
        max-width: 100px;
        margin-top: 2rem;
    }

    .img-footer {
        max-width: 135px;
        height: auto;
        margin-top: 0rem !important;
    }
}



/* Ajuste geral para dispositivos menores */
@media (max-width: 768px) {

    /* Ajuste da fonte dos títulos e textos principais */
    h1#centro {
        font-size: 24px;
    }

    p#centro {
        font-size: 16px;
        margin: 10px 0;
    }

    /* Ajustes específicos para o cronômetro regressivo no mobile */
    .countdown {
        font-size: 18px;
        gap: 5px;
        margin-top: 10px;
        flex-wrap: wrap; 
        justify-content: center;
    }

    .time {
        width: 120px; 
        padding: 8px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    /* Ajuste do botão no mobile */
    .eventoAnterior button {
        font-size: 14px;
        padding: 10px 20px;
    }

    img {
        max-width: 100px;
        height: auto;
        margin-top: 2rem;
    }
    .img-footer {
        max-width: 135px;
        height: auto;
        margin-top: 0rem !important;
    }

    footer {
        padding-top: 2rem;
    }
}
